/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wpb-main-container{
    width: 1280px;
    height: 1178px;
    margin: 0 auto;
}
.site-inner {
    max-width: inherit;
}
h2{
    margin: 0;
    padding-block: 24px;
}
.wpb-sub-container{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    gap :0px;
    width: 1280px;
    justify-content: space-between;     
}
.wpb-posts-container .wpb-posts-featured-img img{
    width: 384px;
    height: 186px;
    border-radius: 8px;
}
.wpb-posts-container{
    width: 30%;
    position:relative;
    padding-bottom: 48px;
}
.wpb-posts-container .wpb-posts-title a{
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #000000;
    text-decoration: none;
}
.wpb-posts-category-frame {
    position: absolute;
    padding: 4px 12px;
    background-color: #fff;
    border-radius: 8px;
    left: 16px;
    top: 16px;
}
.wpb-posts-category-frame .wpb-posts-category a{
    color: #158EFD;
    text-decoration: none;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}
.wpb-load-more-btn .load-more-btn {
    height: 48px;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #1A2441;
    background-color: #50E994;
    margin: auto;
    margin-top: 20px;
}
ul.nav-tabs {
    display: flex;
    flex-flow: row;
    width: 1280px;
    height: 40px;
    text-transform: capitalize;
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 40px;

}
ul.nav-tabs li{
    opacity: 0.7;
}
ul.nav-tabs li:hover {
    opacity: 1
}
ul.nav-tabs li.active{
    border-bottom:4px solid #158EFD;
    color: #158EFD;
}
.nav-tabs .single-nav-tabs-list, .all-nav-tabs-list{
    cursor: pointer;
    color: #2F2E64;
    font-size: 18px;
}
.tab-pane h1{
    align-items: center;
}
.wpb-recent-post-main-container {
    width: 1280px;
    height: 520px;
    margin: auto;
    margin-bottom: 40px;
}
.wpb-recent-posts-featured-img img {
    width: 880px;
    height: 520px;
    float: left;
    background: #F2F5FC;
    border-radius: 16px 0px 0px 16px;
}
.wpb-recent-posts-title a {
    font-family: 'MADE Tommy Soft', sans-serif;
    position: absolute;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    letter-spacing: -0.2px;
    color: #2F2E64;;
    text-decoration: none;
}
.wpb-recent-posts-content-container{
    float: right;
    width: 400px;
    height: 520px;
    background: #FFFFFF;
    border-radius: 0px 16px 16px 0px;
    padding-left: 48px;
    filter: drop-shadow(40px 40px 64px rgba(243, 243, 252, 0.4));
}
/* .wpb-recent-post-main-container  .inner-container{
    display: flex;
    gap: 1rem;
} */
.wpb-recent-posts-category-frame {
    display: flex;
    background-color: #fff;
    border: 2px solid #EFF4FF;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 32px;
    margin-top: 52px;
}
.wpb-recent-posts-category-frame .wpb-recent-posts-category a {
    color: #35C876;
    text-decoration: none;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}
.wpb-recent-posts-content{
    width: 304px;
    height: 84px;
    margin-top: 150px;
    color: #656F79;
    font-size: 16px;
    letter-spacing: -0.2px;
}
.wpb-recent-posts-datetime {
    margin-top: 56px;
    height: 28px;
    width: 304px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E4E6EB;
    padding-top: 24px;
    color: #656F79;
    letter-spacing: -0.2px;
    font-size: 16px;
}
.wpb-recent-posts-datetime span > a {
    color: #656F79;
    text-transform: uppercase;
    /* text-decoration: none; */
}
.wpb-recent-posts-title h2 > a {
    width: 304px;
    height: 160px;
}
.investors-content .tab-pane {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 1280px;
}