/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wpb-main-container{
    width: 1280px;
    height: 1178px;
    margin: 0 auto;
}
.site-inner {
    max-width: inherit;
}
h2{
    margin: 0;
    padding-block: 24px;
}
.wpb-sub-container{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    gap :0px;
    width: 1280px;
    justify-content: space-between;     
}
.wpb-posts-container .wpb-posts-featured-img img{
    width: 384px;
    height: 186px;
    border-radius: 8px;
}
.wpb-posts-container{
    width: 30%;
    position:relative;
    padding-bottom: 48px;
}
.wpb-posts-container .wpb-posts-title a{
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #000000;
    text-decoration: none;
}
.wpb-posts-category-frame {
    position: absolute;
    padding: 4px 12px;
    background-color: #fff;
    border-radius: 8px;
    left: 16px;
    top: 16px;
}
.wpb-posts-category-frame .wpb-posts-category a{
    color: #158EFD;
    text-decoration: none;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}
.wpb-load-more-btn .load-more-btn {
    height: 48px;
    font-family: 'MADE Tommy Soft', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #1A2441;
    background-color: #50E994;
    margin: auto;
    margin-top: 20px;
}
ul.nav-tabs {
    display: flex;
    flex-flow: row;
    width: 1280px;
    height: 40px;
    text-transform: capitalize;
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 40px;

}
ul.nav-tabs li{
    opacity: 0.7;
}
ul.nav-tabs li:hover {
    opacity: 1
}
ul.nav-tabs li.active{
    border-bottom:4px solid #158EFD;
    color: #158EFD;
}
.nav-tabs .single-nav-tabs-list, .all-nav-tabs-list{
    cursor: pointer;
    color: #2F2E64;
    font-size: 18px;
}
.tab-pane h1{
    align-items: center;
}
